// Place all the styles related to the inbox controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user_name{
  text-align: center;
}
.from_you{
  text-align:right;
}

.chat_thread{
  overflow-y: scroll;
  height:400px;
  padding-left: 2em;
  padding-right: 2em;
}

p{
  font-size: 150%;
}

.profile_img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.chat_box{
}
.chat_box textarea{
  text-align: right;
}
.chat_box button{
  height: 46px;
}
