// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.login_box{
  margin-left: auto;
  margin-right: auto;
  padding-top: 10em;
}

.input_box input{
  text-align: center;
}
