<h1> <%= @user.name.capitalize  %></h1>
<img src="http://fc05.deviantart.net/fs70/f/2012/239/a/d/aang_facebook_default_profile_picture_by_redjanuary-d5cm82l.png">
<ul>
  <li> Age: XX </li>
  <li> Relationship Status </li>
  <li> Gender: X Seeking: Y</li>
  <li> Location </li>
  <li> School </li>
  <li> Type of Developer </li>
  <li> Favorite Language/Tool </li>
</ul>

<p> Github </p>
<p> Facebook </p>
<p> Self Summary </p>
<p> What are you really good at </p>
<p> How did you get into Hacking </p>
<p> Most Private thing you are willing to admit </p>
<p> You should message me if </p>
